.container {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
}

.action {
  justify-content: flex-start;
  margin-bottom: 8px;
  width: 100%;
}

.action :global(.inner) {
  font-weight: bold;
  font-size: 20px;
  justify-content: flex-start;
}

.actions {
  text-align: left;
  margin-bottom: 8px;
}

.delete {
  margin-top: 44px;
  width: 100%;
}

.heading {
  color: #444;
  font-size: 16px;
  margin-bottom: 16px;
  margin-left: 12px;
}

.pageActionsHeading {
  margin-top: 16px;
}
