.addStoryWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.bar {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.addStory {
  margin-right: 16px;
}

.addStory :global(.inner) {
  background: #017fe6;
  border-radius: 32px;
  color: white;
  font-weight: 600;
  height: 32px;
  padding: 0 16px;
}

.imageInput {
  height: calc(50dvh - 44px);
}

.textarea {
  height: calc(50dvh - 88px);
  width: 100%;
  text-align: center;
}
