# S3 Configuration
NEXT_PUBLIC_STELLA_APP_HOST=http://localhost:3000
NEXT_PUBLIC_STORJ_PUBLIC_URL=https://link.storjshare.io/s/jxyg7rk3opr562oisdjr7huee5qq/stella

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=your-firebase-api-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
