.textarea {
  border: 0;
  padding: 16px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  outline: none;
  resize: none;
  line-height: 1.5em;
}
