.bar {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.addStory {
  margin-right: 6px;
}

.addStoryWrapper :global(.inputImage) {
  border-bottom: solid 1px grey;
}

.textarea {
  text-align: center;
}
