.input {
  display: none;
}
.img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: bottom;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
.inputImage {
  margin-bottom: 16px;
  position: relative;
}
.removeImage {
  position: absolute;
  bottom: 0;
}
.buttonAddImage {
  height: 96px;
  position: absolute;
  width: 96px;
}
.buttonAddImage :global(.inner) {
  display: flex;
  flex-direction: column;
}
.buttonAddImage svg {
  margin-bottom: 4px;
}
.buttonRemoveImage {
  padding: 0;
  position: absolute;
  bottom: -16px;
  position: absolute;
  right: -22px;
}

.buttonRemoveImage :global(.inner) {
  background: none;
  padding: 0;
}

.bar {
  align-items: center;
  background: none;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
}
.imageWrapper {
  border: solid 2px #222;
  border-radius: 68px;
  height: 96px;
  width: 96px;
  overflow: hidden;
}
