.stories {
  align-tracks: end;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.topBar {
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.bottomBar {
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}
