.title {
  box-sizing: border-box;
  font-weight: 600;
  max-width: 420px;
  padding: 0 16px;
}
.image {
  aspect-ratio: 3/4;
  box-sizing: border-box;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.avatar {
  border-radius: 22px;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.pageCover {
  height: calc(100dvh - 44px);
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: none;
  flex-direction: column;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100dvw;
}

.profile {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.topBar {
  justify-content: space-between;
}
.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(50dvh - 44px);
}
.meta {
  justify-content: center;
  display: flex;
  font-size: 12px;
}
.actions {
  display: flex;
}
