.stories {
  background: white;
  box-sizing: border-box;
  padding: 0;
  height: calc(100dvh - 88px);
  overflow-y: scroll;
  scrollbar-width: none;
}
.topBar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.bottomBar {
  bottom: 0;
  justify-content: space-between;
  position: fixed;
}
