.button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  min-width: 44px;
  padding: 0;
}

.inner {
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.outline {
  background: white;
  border: solid 1px black;
}

.fill {
  background: white;
}

.primary {
  background: rgb(1, 127, 230, 1);
  border-radius: 32px;
  color: white;
  height: 32px;
  padding: 0 16px;
}

.button:disabled .primary {
  background: rgba(72, 72, 72, 0.75);
  cursor: auto;
}
