.primary {
  align-items: center;
  border: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background: rgb(1, 127, 230, 1);
  border-radius: 32px;
  color: white;
  height: 32px;
  padding: 0 16px;
}
