.container {
  display: flex;
  justify-content: space-evenly;
}
.button {
  background: none;
  display: flex;
  flex-direction: column;
  border: 0;
  justify-content: center;
  align-items: center;
}

.innerButton {
  display: flex;
  align-items: center;
  background: black;
  border-radius: 16px;
  justify-content: center;
  color: white;
  height: 64px;
  width: 64px;
  margin-bottom: 12px;
}
