.story {
  background: white;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin: 0 8px 8px;
  overflow: hidden;
  padding: 0;
  width: calc(100% - 16px);
}

.avatar {
  border-radius: 22px;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.meta {
  display: flex;
}
.name {
  font-weight: 600;
  text-align: left;
  margin-right: 8px;
}

.image {
  border-radius: 8px;
  margin-bottom: 8px;
  max-height: 50dvh;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.meta {
  display: flex;
}

.title {
  box-sizing: border-box;
  color: #444;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 16px;
  padding-left: 8px;
}
