.bar {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.addStory {
  margin-right: 16px;
}

.imageInput {
  height: calc(50dvh - 44px);
}

.textarea {
  text-align: center;
}

.panels {
}
