/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/PageCover/style.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.style_title__oTEU3 {
  box-sizing: border-box;
  font-weight: 600;
  max-width: 420px;
  padding: 0 16px;
}
.style_image__iUbGd {
  aspect-ratio: 3/4;
  box-sizing: border-box;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.style_avatar__bU4Eg {
  border-radius: 22px;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.style_pageCover__E7uXG {
  height: calc(100dvh - 88px);
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: none;
  flex-direction: column;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100dvw;
}
.style_pageCoverPanel__N5lBr img {
  border-bottom: 1px solid #ccc;
}
.style_profile__Ej5oW {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.style_topBar__84Zjv {
  justify-content: space-between;
}
.style_content__PsHqT {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(50dvh - 44px);
}
.style_meta__iGpk8 {
  justify-content: center;
  display: flex;
  font-size: 12px;
}
.style_actions__U78bC {
  display: flex;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Bar/styles.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.styles_bar__yd_3H {
  align-items: center;
  background: white;
  display: flex;
  height: 44px;
  width: 100%;
}

.styles_top__0yksE {
  position: fixed;
  top: 0;
}

.styles_bottom__1SYD_ {
  position: fixed;
  bottom: 0;
}

.styles_relative__tI7ks {
  position: relative;
}

.styles_absolute__SYCKZ {
  position: absolute;
}

.styles_none__648S8 {
  background: none;
}

.styles_bottom-border__XX1tt {
  border-bottom: solid 1px #ccc;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/MenuPageMore/style.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.style_action__HZp7r {
  background: white;
  margin-bottom: 2px;
  text-align: left;
  width: 100%;
}

.style_action__HZp7r .style_inner__JmYaW {
  display: none;
}

.style_delete__6PuXT {
  margin-top: 44px;
  width: 100%;
}

.style_heading__txqWd {
  color: #666;
  font-size: 12px;
  margin-bottom: 16px;
  text-align: center;
}

.style_pageActionsHeading__WLOqc {
  margin-top: 16px;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Button/style.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.style_button__3tn8R {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  min-width: 44px;
  padding: 0;
}

.style_inner__9uHQ4 {
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4px 12px;
  box-sizing: border-box;
}

.style_outline__8i8WQ {
  background: white;
  border: solid 1px black;
}

.style_fill__BxND5 {
  background: white;
}

.style_primary__inKft {
  background: rgb(1, 127, 230, 1);
  border-radius: 32px;
  color: white;
  font-weight: 600;
  height: 32px;
  padding: 0 16px;
}

.style_button__3tn8R:disabled .style_primary__inKft {
  background: rgba(72, 72, 72, 0.75);
  cursor: auto;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Panels/style.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.style_panels__xRnJ9 {
  aspect-ratio: 3/4;
  box-sizing: border-box;
  display: grid;
  grid-gap: 4px;
  gap: 4px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
  max-height: calc(100dvh - 176px);
}

.style_panels__xRnJ9 img {
  aspect-ratio: 4/3;
  object-fit: contain;
  width: 100%;
}

.style_panels__xRnJ9 .textarea {
  border: solid 1px grey;
}

.style_panels__xRnJ9 .inputImage {
  border: solid 1px grey;
}

.style_text__fM8YV {
  padding: 12px;
  width: 100%;
}

.style_item__s9A__ {
  display: flex;
}

.style_item__s9A__img {
  align-items: flex-end;
}

.style_item__s9A__.text {
  align-items: flex-start;
}

.style_item__s9A__.default {
  background: grey;
  border-radius: 4px;
}

.style_item__s9A__.text {
  border: solid 1px grey;
  border-radius: 4px;
}

.style_rs0__iXant {
  grid-row-start: 0;
}
.style_rs1__ksSEZ {
  grid-row-start: 1;
}
.style_rs2__Fv8mr {
  grid-row-start: 2;
}
.style_rs3__3hJ0L {
  grid-row-start: 3;
}
.style_rs4__Wk6uy {
  grid-row-start: 4;
}
.style_rs5__slZSr {
  grid-row-start: 5;
}
.style_rs6__m_fN_ {
  grid-row-start: 6;
}
.style_rs7__0RukW {
  grid-row-start: 7;
}
.style_rs8__SC2gc {
  grid-row-start: 8;
}
.style_rs9__1R8eU {
  grid-row-start: 9;
}
.style_rs10__lLZx1 {
  grid-row-start: 10;
}
.style_rs11__apw8O {
  grid-row-start: 11;
}
.style_rs12__YluR1 {
  grid-row-start: 12;
}

.style_cs0__63nds {
  grid-column-start: 0;
}
.style_cs1__ntVIp {
  grid-column-start: 1;
}
.style_cs2__TRAvZ {
  grid-column-start: 2;
}
.style_cs3__nWo1j {
  grid-column-start: 3;
}
.style_cs4__y9HJY {
  grid-column-start: 4;
}
.style_cs5___WIiT {
  grid-column-start: 5;
}
.style_cs6__QuZ3U {
  grid-column-start: 6;
}
.style_cs7__btAP8 {
  grid-column-start: 7;
}
.style_cs8__aYYdp {
  grid-column-start: 8;
}
.style_cs9__t3c8D {
  grid-column-start: 9;
}
.style_cs10__BnKTd {
  grid-column-start: 10;
}
.style_cs11__Qzd8Z {
  grid-column-start: 11;
}
.style_cs12__Eq53_ {
  grid-column-start: 12;
}

.style_c0__kN1zP {
  grid-column: span 0 / span 0;
}
.style_c1__ZRBxp {
  grid-column: span 1 / span 1;
}
.style_c2__jfDjH {
  grid-column: span 2 / span 2;
}
.style_c3__AuJ_z {
  grid-column: span 3 / span 3;
}
.style_c4__Vssaa {
  grid-column: span 4 / span 4;
}
.style_c5__GNdFR {
  grid-column: span 5 / span 5;
}
.style_c6__TmCHb {
  grid-column: span 6 / span 6;
}
.style_c7__pTGBv {
  grid-column: span 7 / span 7;
}
.style_c8__T2MCW {
  grid-column: span 8 / span 8;
}
.style_c9__JlYBc {
  grid-column: span 9 / span 9;
}
.style_c10__T5ESh {
  grid-column: span 10 / span 10;
}
.style_c11__0p8pb {
  grid-column: span 11 / span 11;
}
.style_c12__OiAYb {
  grid-column: span 12 / span 12;
}

.style_r0__b8He7 {
  grid-row: span 0 / span 0;
}
.style_r1__H21Jx {
  grid-row: span 1 / span 1;
}
.style_r2__6SLZh {
  grid-row: span 2 / span 2;
}
.style_r3__qXv_r {
  grid-row: span 3 / span 3;
}
.style_r4___Gehp {
  grid-row: span 4 / span 4;
}
.style_r5__jpawm {
  grid-row: span 5 / span 5;
}
.style_r6__3LVBc {
  grid-row: span 6 / span 6;
}
.style_r7__qIbTn {
  grid-row: span 7 / span 7;
}
.style_r8__N5_2A {
  grid-row: span 8 / span 8;
}
.style_r9__12eU3 {
  grid-row: span 9 / span 9;
}
.style_r10__as7h9 {
  grid-row: span 10 / span 10;
}
.style_r11__WGCy2 {
  grid-row: span 11 / span 11;
}
.style_r12__Dqmhd {
  grid-row: span 12 / span 12;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/InputImage/style.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.style_input__eX_XI {
  display: none;
}
.style_img__tsIWz {
  object-fit: contain;
  object-position: bottom;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
.style_inputImage__2VhUe {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}
.style_removeImage__kkHGA {
  position: absolute;
  bottom: 0;
}
.style_buttonAddImage__aHxFI {
  height: 100%;
  position: absolute;
  width: 100%;
}

.style_buttonAddImage__aHxFI svg {
  margin-bottom: 4px;
}
.style_bar___4c7G {
  align-items: center;
  background: none;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/InputTextarea/style.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.style_textarea__33fS8 {
  border: 0;
  padding: 16px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  outline: none;
  resize: none;
  line-height: 1.5em;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/MenuPageEdit/style.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.style_action__vOK4Y {
  background: white;
  margin-bottom: 2px;
  text-align: left;
  width: 100%;
}

.style_action__vOK4Y .style_inner__JKb4C {
  display: none;
}

.style_delete__XGWzo {
  margin-top: 44px;
  width: 100%;
}

.style_heading__z1z68 {
  color: #666;
  font-size: 12px;
  margin-bottom: 16px;
  text-align: center;
}

.style_pageActionsHeading__l5Q62 {
  margin-top: 16px;
}

