.bar {
  justify-content: flex-end;
}

.text {
  max-width: 420px;
  padding: 0 16px;
}
.image {
  aspect-ratio: 3/4;
  box-sizing: border-box;
  height: calc(50dvh - 44px);
  margin: 0 auto;
  object-fit: contain;
  object-position: bottom;
  width: 100%;
}
.page {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: none;
  flex-direction: column;
  height: calc(100dvh - 88px);
  padding: 0 0 0;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100dvw;
}
.content {
  height: calc(50dvh - 44px);
}
.pageNumber {
  justify-content: center;
}
