.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 32px;
}
.name {
  font-size: 24px;
  font-weight: 600;
}
.url {
}
.signOut {
  max-width: 420px;
  width: 100%;
}
