.gridSelect {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 12px;
  width: 100%;
}

.gridSelect :global(.grid) {
  gap: 2px;
}

.gridSelect :global(.item) {
  border-radius: 4px;
}
