/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/Avatar/style.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.style_image__8D_R0 {
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  height: 100px;
  width: 100px;
  border: solid 2px #444;
  padding: 2px;
  box-sizing: border-box;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/Button/style.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.style_button___Bn7T {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  min-width: 44px;
  padding: 0;
}

.style_inner__Y6nrK {
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4px 12px;
  box-sizing: border-box;
}

.style_outline__fScms {
  background: white;
  border: solid 1px black;
}

.style_fill__NY0Zv {
  background: white;
}

.style_primary__Hm1Ij {
  background: rgb(1, 127, 230, 1);
  border-radius: 32px;
  color: white;
  font-weight: 600;
  height: 32px;
  padding: 0 16px;
}

.style_button___Bn7T:disabled .style_primary__Hm1Ij {
  background: rgba(72, 72, 72, 0.75);
  cursor: auto;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/Bar/styles.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.styles_bar__GhVty {
  align-items: center;
  background: white;
  display: flex;
  height: 44px;
  width: 100%;
}

.styles_top__GmNi_ {
  position: fixed;
  top: 0;
}

.styles_bottom__ejLky {
  position: fixed;
  bottom: 0;
}

.styles_relative__VDxc3 {
  position: relative;
}

.styles_absolute__S2CKF {
  position: absolute;
}

.styles_none__PBXlm {
  background: none;
}

.styles_bottom-border__AYLoJ {
  border-bottom: solid 1px #ccc;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/Profile/style.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.style_profile__6GIkd {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  margin-bottom: 32px;
}

.style_name__QJfRi {
  font-size: 24px;
  font-weight: bold;
  margin: 8px;
}

.style_bio__Lm02_ {
  font-size: 14px;
  line-height: 1.5em;
  max-width: 420px;
}

.style_links___WXGA {
  margin-right: 4px;
}

.style_meta__eT0mZ {
  font-size: 12px;
}

.style_storiesCount__m2To_ {
  font-weight: 600;
  margin-right: 8px;
}
.style_followersCount__qvU80 {
  font-weight: 600;
}
.style_bar__53bt6 {
  align-items: flex-end;
  justify-content: flex-end;
}

