figure {
  margin: 0;
}
html {
  font-family: "Lexend", sans-serif;
  scrollbar-width: none;
}

body {
  color: #333;
  font-size: 14px;
  overflow-x: hidden;
  margin: 0;
  scrollbar-width: none;
}

button,
a,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
}

p {
  font-size: 14px;
  line-height: 24px;
}
a {
  color: #333;
  text-decoration: none;
}
a:visited {
  color: #333;
}
hr {
  margin: 0;
}
a:visited {
  color: #222;
}
button {
  cursor: pointer;
}

img {
  display: block;
}
