.story {
  display: flex;
  height: calc(100dvh - 48px);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.bottomBar,
.topBar {
  justify-content: space-between;
}
.topBar {
  position: sticky;
  top: 0;
}
.bottomBar {
  position: fixed;
  bottom: 0;
}
