.signUp {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
}

.inputText {
  width: 100%;
}

.inputTextarea {
  padding: 0;
}

.createProfile :global(.inner) {
  background: #017fe6;
  border-radius: 32px;
  color: white;
  font-weight: 600;
  height: 32px;
  padding: 0 16px;
}
